<!DOCTYPE html>
<html>
  <head>
    <title>NovelsApp</title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<div class="parallax-container">
  			<div class="parallax"><%= image_tag("parallax1.jpg") %></div>
  			  <div class="caption">
            <h1>Novel App</h1>
          </div>
			</div>
			<div class="section white">
			<div class="row container">
				<%= render 'layouts/navbar' %>
			</div>
  	</header>
  	
		<main class="container pad-bot">
			<%= yield %>
		</main>
	
  	<%= render 'layouts/footer' %>
  	</div>
  </body>
</html>
