<!DOCTYPE html>
<html>
  <head>
    <title>NovelsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="parallax-container">
  		<div class="parallax"><%= image_tag("parallax1.jpg") %></div>
		</div>
		<div class="section white">
			<div class="row container">
				<%= render 'layouts/navbar' %>
  				<%= yield %>
  		</div>
  	</div>
  </body>
</html>
